/HomeWork/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/HomeWork/obj/Debug/net8.0/HomeWork.AssemblyInfo.cs
/HomeWork/obj/Debug/net8.0/HomeWork.AssemblyInfoInputs.cache
/HomeWork/obj/Debug/net8.0/HomeWork.assets.cache
/HomeWork/obj/Debug/net8.0/HomeWork.GeneratedMSBuildEditorConfig.editorconfig
/HomeWork/obj/Debug/net8.0/HomeWork.GlobalUsings.g.cs
/HomeWork/obj/HomeWork.csproj.nuget.dgspec.json
/HomeWork/obj/HomeWork.csproj.nuget.g.props
/HomeWork/obj/HomeWork.csproj.nuget.g.targets
/HomeWork/obj/project.assets.json
/HomeWork/obj/project.nuget.cache
/HomeWork/obj/project.packagespec.json
/HomeWork/obj/rider.project.restore.info
/.idea/.idea.otus.dir/.idea/.gitignore
/.idea/.idea.otus.dir/.idea/encodings.xml
/.idea/.idea.otus.dir/.idea/indexLayout.xml
/.idea/.idea.otus.dir/.idea/vcs.xml
/HomeWork/9_SOLID/9_SOLID/bin/Debug/net8.0/9_SOLID.deps.json
/HomeWork/9_SOLID/9_SOLID/bin/Debug/net8.0/9_SOLID.dll
/HomeWork/9_SOLID/9_SOLID/bin/Debug/net8.0/9_SOLID.exe
/HomeWork/9_SOLID/9_SOLID/bin/Debug/net8.0/9_SOLID.pdb
/HomeWork/9_SOLID/9_SOLID/bin/Debug/net8.0/9_SOLID.runtimeconfig.json
/HomeWork/9_SOLID/9_SOLID/obj/Debug/net8.0/ref/9_SOLID.dll
/HomeWork/9_SOLID/9_SOLID/obj/Debug/net8.0/refint/9_SOLID.dll
/HomeWork/9_SOLID/9_SOLID/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/HomeWork/9_SOLID/9_SOLID/obj/Debug/net8.0/9_SOLID.AssemblyInfo.cs
/HomeWork/9_SOLID/9_SOLID/obj/Debug/net8.0/9_SOLID.AssemblyInfoInputs.cache
/HomeWork/9_SOLID/9_SOLID/obj/Debug/net8.0/9_SOLID.assets.cache
/HomeWork/9_SOLID/9_SOLID/obj/Debug/net8.0/9_SOLID.csproj.CoreCompileInputs.cache
/HomeWork/9_SOLID/9_SOLID/obj/Debug/net8.0/9_SOLID.csproj.FileListAbsolute.txt
/HomeWork/9_SOLID/9_SOLID/obj/Debug/net8.0/9_SOLID.dll
/HomeWork/9_SOLID/9_SOLID/obj/Debug/net8.0/9_SOLID.GeneratedMSBuildEditorConfig.editorconfig
/HomeWork/9_SOLID/9_SOLID/obj/Debug/net8.0/9_SOLID.genruntimeconfig.cache
/HomeWork/9_SOLID/9_SOLID/obj/Debug/net8.0/9_SOLID.GlobalUsings.g.cs
/HomeWork/9_SOLID/9_SOLID/obj/Debug/net8.0/9_SOLID.pdb
/HomeWork/9_SOLID/9_SOLID/obj/Debug/net8.0/9_SOLID.sourcelink.json
/HomeWork/9_SOLID/9_SOLID/obj/Debug/net8.0/apphost.exe
/HomeWork/obj/
/HomeWork/bin/
/HomeWork/9_SOLID/9_SOLID/bin/
/HomeWork/9_SOLID/9_SOLID/obj/
/.idea/
